<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Conteudos</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portifolio">Videos</a>
            <a href="/conteudos">Conteudos</a>
        </div>
    </header>
    <div id="wrapper">
        <h1>Meus post favoritos</h1>
    </div>


    <section class="cards">
        <div class="card" id="UftSB4DaRU4">
            <div class="card_image-container">
                <img src="http://i3.ytimg.com/vi/UftSB4DaRU4/hqdefault.jpg" alt="tallkme">
           </div>
           <div class="card-content">
               <p>O dom é um objeto js? </p>
           </div>
           <div class="card_info">
               <p>1h 37m</p>
               <p class="card_price">Free</p>
           </div>
        </div>
        <div class="card" id="H91DhKPjhPk">
            <div class="card_image-container">
                <img src="http://i3.ytimg.com/vi/H91DhKPjhPk/hqdefault.jpg" alt="tallkme">
           </div>
           <div class="card-content">
               <p>Responsividade</p>
           </div>
           <div class="card_info">
               <p>58m</p>
               <p class="card_price">Free</p>
           </div>
        </div>

        <div class="card" id="0mYq5LrQN1s">
            <div class="card_image-container">
                <img src="http://i3.ytimg.com/vi/0mYq5LrQN1s/hqdefault.jpg" alt="tallkme">
           </div>
           <div class="card-content">
               <p>TypeScript O Inicio</p>
           </div>
           <div class="card_info">
               <p>58m</p>
               <p class="card_price">Free</p>
           </div>
        </div>
    </section>

    {# <div class="modal-overlay">

        <div class="modal">
            <a class="close-modal">
                 <i class="material-close">
                    <span class="material-icons">
                        close
                    </span>
                 </i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
        
    </div> #}


<script src="/script.js"></script>    
</body>
</html>